.justify-content-between {
  display: flex;
  font-size: large;
  background-color: rgb(53, 173, 113); 
}

.nav-left {
  font-size: xx-large;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center
}

a {
  color: white
}

button.btn.btn-link {
  color: white;
  font-size: 18px;
  border: 0px;
  padding: 0px;
  padding-bottom: 1px;
}