ul {
  list-style-type: none;
  width: 90%;
  margin: 0px;
  padding: 0px
}

li {
  margin-top: 10px;
}

.MessageList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

div.card-header {
  background-color: rgb(173, 231, 202);
}

.CreateMessage {
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.CreateMessage button {
  width: 5%;
  max-height: 30px;
}

.CreateMessage label {
  font-size: large;
  font-weight: bold;
}

.new-message-input {
  max-height: 30px;
  width: 85%
}

.new-message-error {
  
}